arrowParens: "always"
bracketSameLine: false
embeddedLanguageFormatting: "auto"
endOfLine: "lf"
importOrder:
  - "^react"
  - "<THIRD_PARTY_MODULES>"
  - "^@/(.*)$"
  - "^@/utils/(.*)$"
  - "^@(.*)/components/(.*)$"
  - "^@/types/(.*)$"
  - "^\\..*\\.css$"
  - "^[./]"
importOrderGroupNamespaceSpecifiers: true
importOrderSeparation: true
importOrderSortSpecifiers: true
objectWrap: "preserve"
plugins:
  - "@trivago/prettier-plugin-sort-imports"
  - "prettier-plugin-tailwindcss"
printWidth: 100
semi: true
trailingComma: "all"
