plugins:
  - "@trivago/prettier-plugin-sort-imports"
importOrder:
  - "^react"
  - "<THIRD_PARTY_MODULES>"
  - "^@/lib/(.*)$"
  - "^@/utils/(.*)$"
  - "^@(.*)/components/(.*)$"
  - "^@/types/(.*)$"
  - "^[./]"
importOrderSeparation: true
importOrderSortSpecifiers: true
importOrderGroupNamespaceSpecifiers: true
arrowParens: avoid
bracketSameLine: false
embeddedLanguageFormatting: auto
endOfLine: lf
printWidth: 100
semi: true
trailingComma: all
